<div class="contact-container container-block" data-anijs="if: scroll, on:window, do: flipInX animated, before: scrollReveal, after: removeAnim; if: click, do: rubberBand animated, after: removeAnim">

    {% if sidebar.disponibilite %}
    <hr>
    <div class="item">
        <h5 class="meta text-center"><i class=""></i>{{ sidebar.disponibilite }}</h5>
    </div>
    {% endif %}

    {% if sidebar.dateNaissance %}
    <hr>
    <div class="item">
        <h5 class="meta text-center"><i class=""></i>{{ sidebar.dateNaissance }}</h5>
    </div>
    {% endif %}

    {% if sidebar.permis %}
    <hr>
    <div class="item">
        <h5 class="meta text-center"><i class=""></i>{{ sidebar.permis }}</h5>
    </div>
    {% endif %}

    {% if sidebar.mobilite %}
    <hr>
    <ul class="list-unstyled contact-list">
        <li class="mobilite">
            <i class="fas fa-map-marker-alt"></i>
            <span class="txtMobilite">{{ sidebar.mobilite }}</span>
        </li>
    </ul>
    {% endif %}

    <ul class="list-unstyled contact-list">

        {% if sidebar.email %}
        <li class="email">
            <i class="fas fa-envelope"></i>
            <a href="mailto:{{ sidebar.email }}" title="{{ sidebar.email }}">thomasclaude.prive</a>
        </li>
        {% endif %}

        {% if sidebar.phone %}
        <li class="phone">
            <i class="fas fa-phone"></i>
            <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
        </li>
        {% endif %}

        {% if sidebar.website %}
        <li class="website">
            <i class="fas fa-globe-americas"></i>
            <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
        </li>
        {% endif %}

        {% if sidebar.linkedin %}
        <li class="linkedin">
            <i class="fab fa-linkedin"></i>
            <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank" title="https://linkedin.com/in/{{ sidebar.linkedin }}">claude-thomas</a>
        </li>
        {% endif %}

        {% if sidebar.github %}
        <li class="github">
            <i class="fab fa-github"></i>
            <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
        </li>
        {% endif %}

        {% if sidebar.gitlab %}
        <li class="gitlab">
            <i class="fab fa-gitlab"></i>
            <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">{{ sidebar.gitlab }}</a>
        </li>
        {% endif %}

        {% if sidebar.bitbucket %}
        <li class="bitbucket">
            <i class="fab fa-bitbucket"></i>
            <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">{{ sidebar.bitbucket }}</a>
        </li>
        {% endif %}

        {% if sidebar.twitter %}
        <li class="twitter">
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
        </li>
        {% endif %}

        {% if sidebar.stack-overflow %}
        <li class="stack-overflow">
            <i class="fab fa-stack-overflow"></i>
            <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow }}</a>
        </li>
        {% endif %}

        {% if sidebar.codewars %}
        <li class="codewars">
            <i class="fas fa-code"></i>
            <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">{{ sidebar.codewars }}</a>
        </li>
        {% endif %}

        {% if sidebar.goodreads %}
        <li class="goodreads-g">
            <i class="fab fa-goodreads-g"></i>
            <a href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank">{{ sidebar.goodreads }}</a>
        </li>
        {% endif %}

    </ul>

    {% if sidebar.typePoste %}
    <hr>
    <h2 class="container-block-title">
        Poste recherché :
    </h2>

    <div class="items">
        {% for t in sidebar.typePoste %}
        <div class="typePoste">{{ t.name }}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% if sidebar.technologies %}
    <h2 class="container-block-title">
        Technologies :
    </h2>

    <ul class="list-unstyled contact-list">
        <li class="technologies">
            <i class="fas fa-terminal"></i>
            <span class="txtTechnologies">{{ sidebar.technologies }}</span>
        </li>
    </ul>
    <hr>
    {% endif %}


</div><!--//contact-container-->
