body {
    overflow-x: hidden
}

.jumpto-cotainer {
    position: relative;
}

.jumpto-subnav {
    /*position: absolute;*/
    /*top: 0;*/
    top: 140px;
    /*left: -120px;*/
    width: 100px;
    background: rgba(0,0,0,0.7);
    position: fixed;
    right: 0;
    float: right;
    z-index: 30;
}

    .jumpto-subnav .jumpto-second {
        display: none;
    }

    /*
.jumpto-subnav.fixed {
  position: fixed !important;
  left: auto;
  top: 25px;
  margin-left: -120px;
  
  float: right;
  right: 0;
  margin-right: 10px;
}*/

    .jumpto-subnav.fixed.bottom {
        top: auto;
        bottom: 0;
        position: absolute !important;
    }

    .jumpto-subnav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .jumpto-subnav ul li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .jumpto-subnav ul li a {
                padding: 10px;
                display: block;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                color: white;
                font-size: 12px;
                text-decoration: none;
            }

                .jumpto-subnav ul li a:hover, .jumpto-subnav ul li a.active {
                    background: black;
                    /* shadow */
                    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    background-color: #323232;
                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#212121));
                    background-image: -webkit-linear-gradient(top, #323232 0%, #212121 100%);
                    background-image: -moz-linear-gradient(top, #323232 0%, #212121 100%);
                    background-image: -o-linear-gradient(top, #323232 0%, #212121 100%);
                    background-image: linear-gradient(to bottom, #323232 0%, #212121 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#212121',GradientType=0 );
                }

        .jumpto-subnav ul > li > ul > li > a {
            padding-left: 15px;
        }

.jumpto-title, .jumpto-close a,
.jumpto-close a:visited {
    background: #899f11;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    display: block;
    text-decoration: none !important;
    transition: none !important;
}
